/* Default body styles */

*, html {
  box-sizing: border-box;
}

html {
	height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: $white;
	margin: 0;
    padding: 0;
    height: 100%;
    @include row();
}

.container {
  @include span-columns(9);
  @include omega;

  @include media($desk) {
	@include span-columns(10);
	@include omega;
  }
}

.home .container {
	text-align: center;
}