/* CONTENT */

$content-pad: 0 3em;

article header {
	background: url("../images/party.jpeg") no-repeat bottom left;
	background-size: cover;
	padding: $content-pad;
	margin-bottom: 2em;
}

article h1 {
	padding-top: 3em;
	padding-bottom: .5em;
	color: $white;
}

.content {
	padding: $content-pad;
}

/* HOME */

.home .container {
	background: url("../images/story/cover.jpg") no-repeat top center;
	background-size: cover;
	height: 100%;
}

.announcement {
	color: $white;
}

.announcement span {
	display: block;
	line-height: 1.5em;
	font-family: $titles;

	&:first-child {
		font-family: $copy;
		font-style: italic;
		line-height: 2em;
	}
}

/* STORY */

.story article header {
	background: url("../images/story/morocco.jpg") no-repeat center center;
	background-size: cover;
	margin-bottom: 0;
}

figure {
	@include span-columns(4);
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

figure img {
	width: 100%;
	vertical-align: middle;
}

figcaption {
	position: absolute;
	background: rgba($navy, .8);
	color: $white;
	padding: 10px 20px;
	height: 100%;

	opacity: 1;
	left: 0;
	top: 83%;
	-webkit-transition: all 0.6s ease;
	-moz-transition:    all 0.6s ease;
	-o-transition:      all 0.6s ease;
	transition:      all 0.6s ease;
}

figure:hover figcaption {
  opacity: 1;
  top: 0;
}

figcaption .date {
	display: block;
	font-family: $titles;
	font-size: $title3;
	letter-spacing: 2px;
}

/* WHEN AND WHERE */

.festivities article {
	@include span-columns(12);
}

.festivities .content {
	@include span-columns(6 of 12);
}

.map {
	@include span-columns(6 of 12);
	@include omega;
	margin-top: 1.5em;
}

.map iframe {
	border: 3px solid $red;
}

/* TRAVEL */

.travel article header {
	background: url("../images/seattle.jpg") no-repeat center center;
	background-size: cover;
}

.tabs {
	margin: $content-pad;
	margin-top: 4em;
	background: #eee;
}

.tabs nav {
	text-align: center;
	display: table;
	width: 100%;
}

.tabs nav ul {
	width: 100%;
	padding: 0;
	display: table-row;
}

.tabs nav li {
	display: table-cell;
	width: 25%;
	background: $teal;
	color: $white;
	padding: .7em 0;
	cursor: pointer;

	&:hover {
		background: darken($teal, 10%);
	}
}

#rec {
	background: $gold;

	&:hover {
		background: darken($gold, 10%);
	}
}

#culture {
	background: $green;

	&:hover {
		background: darken($green, 10%);
	}
}

#food {
	background: $red;

	&:hover {
		background: darken($red, 10%);
	}
}

.tab {
	padding: $content-pad;
	padding-bottom: 3em;
	display: none;

	&.active {
		display: block;
	}
}

/* REGISTRY */

.registry article header {
	background: url("../images/blur.jpeg") no-repeat bottom left;
	background-size: cover;
}