/* HEADER */

.page-header {
	@include span-columns(3 of 12, block-collapse);
	background: $navy;
	color: $white;
	height: 100%;
	position: relative;

	@include media($desk) {
		@include span-columns(2 of 12, block-collapse);
	}
}

.header-inner {
	@include abs-pos(0, auto, auto, 0);
	width: 100%;
	height: 100%;
}

.brand {
	text-align: center;
}

.brand a {
	color: $white;
	background: $teal;
	text-decoration: none;
	font-size: $title2;
	line-height: 3em;
	padding: .5em .3em;
	border-radius: 50%;
}

nav {
	font-family: $titles;
	font-size: $title3;
	letter-spacing: 2px;
	text-align: right;
	position: relative;
	top: 30%;
	transform: translateY(-50%);
}

nav ul {
	list-style-type: none;
	margin-right: 18px;
}

nav li {
	margin: 0 0 1em 0;
}

nav li a {
	border-bottom: 3px solid $navy;

	&:hover {
		cursor: pointer;
		color: gold;
		border-bottom: 3px solid $gold;
	}

	&.current {
		color: gold;
		border-bottom: 3px solid $gold;
	}
}