/* VARIABLE */

/* Colors */
$navy:	#223041;
$pink:	#E88E73;
$teal:	#73AF8A;
$beige:	#D4DEA6;

$white:	#F2F2F2;
$gray:	#565656;
$black:	#222;

/* Fonts */
$titles: 'Raleway', sans-serif;
$copy: 'Lato', sans-serif;

$title1:   4em;
$title2:   2.5em;
$title3:   1.5em;
$copy-reg: 1em;
$copy-lg:  1.25em;
$copy-sm:  .75em
