/* VARIABLE */

/* Colors */
$navy:	#223041;
$green:	#A5C77F;
$teal:	#42826C;
$gold:	#FFC861;
$red:	#C84663;

$white:	#fff;
$gray:	#666666;
$black:	#222;

/* Fonts */
$titles: 'bebas_neueregular', sans-serif;
$copy: 'PT Serif', serif;

$title1:   4em;
$title2:   2.5em;
$title3:   1.5em;
$copy-reg: 1em;
$copy-lg:  1.25em;
$copy-sm:  .75em;

/* Breakpoints */

$mobile: 480px;
$tablet: 800px;
$desk: 1080px;