/*!CK:722552908!*//*1417474442,*/

.sp_93A-UaTWkTg{background-image:url(/rsrc.php/v2/yc/r/ZQ7ERs4wfhb.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_93A-UaTWkTg.sx_f84927{background-position:0 0}.sp_93A-UaTWkTg.sx_10e063{background-position:0 -17px}

#bootloader_s9rnb { height: 42px; }
.bootloader_s9rnb { display:block !important; }