/*!CK:1143919673!*//*1417407984,*/

.sp_YTlQ8apFiOn{background-image:url(/rsrc.php/v2/yW/r/o3_rv4aWiin.png);background-size:17px 60px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_YTlQ8apFiOn.sx_8ba6fd{background-position:0 0}.sp_YTlQ8apFiOn.sx_0acec6{background-position:0 -17px}.sp_YTlQ8apFiOn.sx_0b85d7{width:12px;height:12px;background-position:0 -34px}.sp_YTlQ8apFiOn.sx_26d262{width:12px;height:12px;background-position:0 -47px}

#bootloader_ezjLW { height: 42px; }
.bootloader_ezjLW { display:block !important; }