/*!CK:1155757169!*//*1417474009,*/

.sp_bGH0kpQLbs5{background-image:url(/rsrc.php/v2/yU/r/0zAQolFdpVc.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_bGH0kpQLbs5.sx_f06d91{background-position:0 0}.sp_bGH0kpQLbs5.sx_b43b47{background-position:0 -17px}

#bootloader_y6GH3 { height: 42px; }
.bootloader_y6GH3 { display:block !important; }